<header id="top-header">
    <span class="siteName">
        <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
        <% if (locals.loggedin) { %>
            <li><a href="/account">Welcome <%= locals.accountData.account_firstname %></a></li>
            <li><a href="/account/logout">Logout</a></li>
        <% } else { %>
            <li><a href="/account/login">My Account</a></li>
        <% } %>
    </div>
</header>