<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>


        <main>
            <h1><%= title %></h1>
            
            <div class="error-box">
                <p><%- message %></p> 
            </div>
        </main>


</body>
</html>